body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin: 0;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
}

#filtro-tooltip {
  width: 100%;
  max-width: 250px;
  padding: 8px;
  font-size: 0.9rem;
  margin: 10px auto;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

#filtro-tooltip:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 6px rgba(76, 175, 80, 0.3);
}

.tooltip {
  display: block;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: px;
  margin: 20px auto;
  text-align: center;
}

table {
  width: 100%;
  margin: 10px auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

th, td {
  padding: 8px;
  border: 3px solid #ddd;
  text-align: center;
  font-size: 14px;
  color: #000;
}

th {
  background-color: #f9f9f9;
  font-weight: bold;
  color: #555;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Estilo para os campos de edição de notas */
input[type="number"] {
  width: 70px;
  padding: 5px;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
}

input[type="number"]:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}
